.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
    grid-template-areas:
    /* these letters creates a cell and assigns that letter so we can use it to refer a column or a row when we need to work with it. */
      ". h h h h h h h h h h ."
      "m c c c c c c c c c c c"
      ". f f f f f f f f f f .";
}

.header {
    grid-area: h;
}

.menu {
  grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}
